@import './buttons.scss';
@import './cover-img.scss';
@import './screenshot.scss';

:root {
  --blue: cornflowerblue;
  --green: limegreen;
  --gray: #282c34;

  --techcrunch: #0a9e01;
  --productHunt: #da552f;
  --discord: #5865f2;

  --xl: 80px;
  --lg: 40px;
  --md: 20px;
  --sm: 10px;
  --xs: 5px;

  // --drop-shadow: 0 8px 15px rgb(0 0 0 / 20%);
  --drop-shadow: 0 8px 15px rgb(0 0 0 / 60%);
  --capsule: 9999px;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: var(--gray);
  color: white;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.wrapper {
  max-width: 1024px;
  padding: 20px;
  margin: 0 auto;
  position: relative;

  // &.light {
  //   background: white;
  //   color: black;
  // }
}
