.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media only screen and (max-width: 600px) {
  .header {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--sm);
  }

  .nav ul {
    gap: var(--xs);
    font-size: 12px;
  }
}

.nav ul {
  list-style-type: none;
  display: flex;
  gap: var(--md);
  margin: 0;
  padding: 0;

  a {
    color: inherit;
    font-weight: bold;

    &:hover {
      text-decoration: underline;
    }
  }
}

.homeLink {
  display: flex;
  align-items: center;
  gap: var(--sm);
}

.header,
.homeLink,
.nav ul {
  flex-wrap: wrap;
}

.logo {
  width: 48px;
}

.siteName {
  font-size: 24px;
  font-weight: bold;
}

.version {
  margin-top: 5px;
  display: flex;
  // background-color: var(--blue);
  // border: 2px solid var(--blue);
  border: 2px solid currentColor;
  // color: var(--blue);
  // color: white;
  font-size: 12px;
  padding: 3px var(--sm);
  border-radius: var(--capsule);
}
