@import 'hover';

.header,
.main {
  text-align: center;
}

.container h2 {
  text-align: center;
}

.topText {
  margin: var(--lg) 0;

  h1,
  p {
    margin: 0;
    padding: 0;
  }
}

.gamesSection {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.featuredGames {
  max-width: 530px;
  margin: 0 auto var(--md);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--lg);
  justify-content: center;
}

.screenshot {
  @include hover;
  box-shadow: 0 20px 60px rgb(255 255 255 / 25%);
}

.downloadSection {
  scroll-margin-top: var(--md);
  margin-top: 150px;
  background-color: var(--hover-light);
  padding: var(--lg) var(--lg) var(--xl);
  border-radius: var(--md);
  box-shadow: 0 10px 20px rgba(0 0 0 / 20%);
}

.downloadWrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.downloadBtn {
  @include hover;
  margin: 0 auto;
  display: flex;
  gap: var(--md);
  background: var(--purple);
  padding: var(--md) var(--lg);
  border-radius: 10px;
  box-shadow: var(--shadow);
  text-decoration: none;
  justify-content: center;
  align-items: center;
}

.downloadLogo {
  width: 64px;
}

.downloadRight {
  display: flex;
  flex-direction: column;
}

.downloadLabel {
  font-weight: bold;
  font-size: 28px;
}

.downloadVersion {
  font-family: var(--font-secondary);
}

.downloadNote {
  opacity: 50%;
  font-size: 14px;
  text-align: right;
  margin-bottom: var(--xl);
}

.downloadStable {
  display: block;
  margin: var(--md);
  text-decoration: none;
}

.video {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: var(--lg) 0;

  iframe {
    box-shadow: var(--shadow);
    border-radius: var(--xs);
  }
}
